<div class="container_listen">
<div class="cover_listen"></div>

<div class="container_el">
	<div class="cover_min">
		<div class="img_min"></div>
		<div class="info_artist">
			Rise Against
		</div>
		<div class="line_artist"></div>
		<div class="info_songname">
			Re-Education
		</div>
		<div class="line_songname"></div>
	</div>
</div>
<div class="track_list" >
	<div class="open_block"  >
		<span class="glyphicon glyphicon-search" ng-click="searchPanel()"></span>
		<span class="glyphicon glyphicon-arrow-left"></span>
		<div class="open_list" ng-click="togglePanel()">
			<span class="glyphicon glyphicon-chevron-left"></span>
			<span class="glyphicon glyphicon-chevron-left"></span>
			<span class="glyphicon glyphicon-chevron-left"></span>
		</div>
		<input type="text" class="form-control search_panel" placeholder="Text input">
	</div>
	<div class="song_list">
		<div class="list_title">Artist</div>
		<div class="container_song">
			<div class="song_block">
				<div class="audio_player"><span class="glyphicon glyphicon-pause"></span></div>
				<div class="song_info">Rise Against - Savior</div>
			</div>
			<div class="song_block">
				<div class="audio_player"></div>
				<div class="song_info">Rise Against - Savior</div>
			</div>
			<div class="song_block">
				<div class="audio_player"></div>
				<div class="song_info">Rise Against - Savior</div>
			</div>
			<div class="song_block">
				<div class="audio_player"></div>
				<div class="song_info">Rise Against - Savior</div>
			</div>
			<div class="song_block">
				<div class="audio_player"></div>
				<div class="song_info">Rise Against - Savior</div>
			</div>
			<div class="song_block">
				<div class="audio_player"></div>
				<div class="song_info">Rise Against - Savior</div>
			</div>
			<div class="song_block">
				<div class="audio_player"></div>
				<div class="song_info">Rise Against - Savior</div>
			</div>
			<div class="song_block">
				<div class="audio_player"></div>
				<div class="song_info">Rise Against - Savior</div>
			</div>
			<div class="song_block">
				<div class="audio_player"></div>
				<div class="song_info">Rise Against - Savior</div>
			</div>
			<div class="song_block">
				<div class="audio_player"></div>
				<div class="song_info">Rise Against - Savior</div>
			</div>
			<div class="song_block">
				<div class="audio_player"></div>
				<div class="song_info">Rise Against - Savior</div>
			</div>
			<div class="song_block">
				<div class="audio_player"></div>
				<div class="song_info">Rise Against - Savior</div>
			</div>
			<div class="song_block">
				<div class="audio_player"></div>
				<div class="song_info">Rise Against - Savior</div>
			</div>
			<div class="song_block">
				<div class="audio_player"></div>
				<div class="song_info">Rise Against - Savior</div>
			</div>
			<div class="song_block">
				<div class="audio_player"></div>
				<div class="song_info">Rise Against - Savior</div>
			</div>

			
		</div>
	</div>
</div>
</div>
